form(action="/create" method="POST")
  div
    label(for="name") Nome:
    input(type="text" name="name" required)
  div
    label(for="marca") Marca:
    input(type="text" name="marca" required)
  div
    label(for="modelo") Modelo:
    input(type="text" name="modelo" required)
  div
    button(type="submit") Criar